html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-top: 90px;
    margin-left: 50px;
    margin-bottom: 60px;
}

.card-body {
   padding: 15px;
}

.blog-post{
    padding-right: 450px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.form-control{
    width:600px;
}

.dropdown{
    display: block;
    width: 600px;
}

#publicar{
    position: absolute;
    margin-left: 576px;
}

#eliminar{
    position: absolute;
    margin-left: 730px;
}

#editar{
    position: absolute;
    margin-left: 660px;
}

.formulario{
    width:700px;
}

#paginador{
    position: absolute;
    margin-bottom: 10px;
    margin-left: 400px;
}